html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: green;
  div.nav {
    display: flex;
    flex-direction: column;
    .first {
      display: flex;
    }
    .second {
      display: flex;
    }
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: blue;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: lightcoral;
    flex: 1;
    padding: 2rem;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex: 4;
    .main-content {
      display: flex;
      flex-direction: column;
      background-color: lightskyblue;
      flex: 3;
      .checklist {
        display: flex;
        flex-direction: column;
      }
      .collaborators {
        display: flex;
      }
    }
    .task-column {
      display: flex;
      flex-direction: column;
      background-color: yellow;
      flex: 1;
    }
  }
}
