html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
  a {
    text-decoration: none;
    color: black;
  }
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: green;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  .nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    .first {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      a {
        padding-bottom: 1rem;
      }
    }
    .second {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      a {
        padding-bottom: 1rem;
      }
    }
  }
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: blue;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: lightcoral;
    flex: 0.7;
    padding: 2rem;
    h1 {
      font-size: 4rem;
    }
    .tasklist {
      display: flex;
      flex-direction: row;
      a {
        display: flex;
        margin-right: 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        &:hover {
          color: grey;
          border-bottom: 1px solid lightskyblue;
        }
        &:active {
        }
        .badge {
          display: flex;
          justify-content: row;
          align-self: center;
          padding: 5px 10px;
          background: skyblue;
          color: white;
          margin-right: 0.5rem;
          border-radius: 70%;
          font-size: x-small;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex: 4;
    .main-content {
      display: flex;
      flex-direction: column;
      background-color: lightskyblue;
      flex: 3;
      .checklist {
        display: flex;
        flex-direction: column;
      }
      .collaborators {
        display: flex;
      }
    }
    .task-column {
      display: flex;
      flex-direction: column;
      background-color: yellow;
      flex: 1;
    }
  }
}
